<!doctype html>
<html>
<head>
    <meta name= "viewport" content= "width = device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    {% for item_row in name_list %}
        {% if item_row|length < 3 %}
            <a href="/{{ item_row[0][1] }}"><span class="race_name">{{ item_row[0][0] }}</span></a><br>
            <span class="name">{{ item_row[1][0] }}</span><br>
        {% else %}
                <a href="/{{ item_row[0][1] }}"><span class="race_name">{{ item_row[0][0] }}</span></a><br>
                <span class="gender">{{ item_row[1][0] }}:</span> <span class={% if item_row[1][0] == "Male" %}"male"{% elif item_row[1][0] == "Female" %}"female"{% else %}{% endif %}>{{ item_row[1][1] }}</span><br>
                <span class="gender">{{ item_row[2][0] }}:</span> <span class={% if item_row[2][0] == "Male" %}"male"{% elif item_row[2][0] == "Female" %}"female"{% else %}{% endif %}>{{ item_row[2][1] }}</span><br>
        {% endif %}
        <br>
    {% endfor %}
    {% for i in range(5) %}
        <br>
    {% endfor %}
    <a href="/random">random</a>
</body>
</html>